html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.Clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  background-color: #776c6c;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.time, .date {
  color: #ffff00;
  font-size: 5rem;
  text-align: center;
}

.clock {
  width: 100%;
  height: 100vh;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
  opacity: 0.8;
  animation: stars 20s infinite;
}

.round-button {
  background-color: rgb(255, 255, 255);
  color: rgb(71, 60, 139);
  border-radius: 50%;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.round-button:hover {
  transform: scale(1.1);
}



@keyframes stars {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(2000px) translateX(-2000px) scale(2);
    opacity: 0;
  }
}

.slide-down-enter {
  transform: translateY(-100%);
}

.slide-down-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.slide-down-exit {
  transform: translateY(0);
}

.slide-down-exit-active {
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}


.add-event-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fc0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}





